
/* Estilos para la página */
*{

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* Estilos para las secciones */
body {
    text-align: center;
    font-family: Arial, sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    background: #706e6e;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar {
    display: flex;
    margin-right: 10px;
}
.logo{
    margin-left: 30px;
}
.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 23px 20px; 
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20PX;

}
 
